.font {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF}
.achtergrond {  background-image:  url(achtergrond_content.gif); background-attachment: fixed}
.H3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13pt; font-weight: bold; color: #EEB215}.kleinfont {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF}
li {  color: #FFFFFF}
.fontvet { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #EEB215; font-weight: bold}
.fontvetzwart { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF ; font-weight: bold}
